GenomeChronicler_perlCoordinator.pl
tryContainer.sh

software*

results

testData
testData.tar

reference
reference.tar.gz

*.simg

*fa
*bam
*bai
*cram
*vcf
*gz
*fai

.DS_Store
.idea/
/data/
/reference/
/templates/
/tests_temp/
/tests_data/
/software/
/testData/
/perl/
/output/
